<configuration>

    <appender  name = "myConsoleAppender" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>   
            <pattern>   
                %date [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>

    </appender>

    <appender name = "myFileAppender" class = "ch.qos.logback.core.FileAppender" >
    <encoder>   
            <pattern>   
                %date [%thread] %-5level %logger - %msg%n
            </pattern>
    </encoder>
    <file>
    JournalApp.log
    </file>
    </appender>

    <root level = "INFO">
    <appender-ref ref = "myConsoleAppender" />
    <appender-ref ref = "myFileAppender" />
    </root>

</configuration>